/*---------------fading animations code-------------------*/
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}
/*---------------------------------------------------------*/


.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    background: url('./hero.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hero .content .logo{
    display: flex;
    justify-content: center;
}
.hero .content .logo h3{
    padding-left: 0.5rem;
}
.hero .content .h1{
    margin: 1rem 0;
}
.hero .content .h1 h1{
    font-size: 112px;
    letter-spacing: -.025em;
    line-height: 88%;
    text-align: center;
    font-weight: 600;
}
.hero .content h4{
    width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: rgb(209, 212, 221);
    font-size: large;
}
.hero .content .buttons .signup-button {
    display: block;
    background-color: #6c63ff;
    padding:12px ;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 1rem auto;
    width: 45%;
    text-align: center;
  }

